@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.MuiButton-endIcon {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-inline-start: 12px !important; 
}

.MuiButton-startIcon {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-inline-end: 12px !important;
}

.MuiButton-root {
  gap: 12px !important; 
}

.MuiButton-startIcon,
.MuiButton-endIcon {
  margin: 0 !important;
}